.post{
    max-width: 500px;
    background-color: #fff;
    border: 1px solid lightgray;
    margin-top: 24px;
    margin-bottom: 48px;
}
.post__image {
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.post_text {
    font-weight:normal;
    padding: 20px;
}

.post_text strong {
    margin-right: 10px;
}

.post__header {
    display: flex;
    align-items: center;
    padding: 20px;
}


.post__avatar{
    margin-right: 14px;
}
