*{
    margin:0;
}

.app{
    background-color: #fafafa;
    height:100vh;
}

.app__header{
    background-color: #fff;
    padding: 20px;
    border-bottom: 1px solid lightgray; 
    object-fit: contain; 
    display: flex;
    justify-content: space-between;
}

.app__headerImage{
    object-fit: contain;
}

.app__signup{
    display: flex;
    flex-direction: column;
}
